.nav-title {
  border: "none";
  text-align: "center";
  font-size: "16px";
  transition: "3s ease-out";
  text-decoration: none;
  color: #fff;
}

.nav-title:hover {
  color: rgb(227, 191, 145);
  opacity: 1;
  border-bottom: 1px solid bisque;
  border-top: 1px solid bisque;
  text-shadow: #eee;
}

.nav-other-title:hover {
  color: #129cb8;
  opacity: 1;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  text-shadow: #129cb8;
}

.nav-icon {
  width: "29px";
  height: "29px";
  cursor: "pointer";
}

.nav-icon:hover:focus {
  color: #129cb8;
  fill: #129cb8;
  opacity: 1;
}

.hover-line a.active {
  display: block;
  content: "";
  border-bottom: solid 2px #fff;
  transition: 0.5s ease-in-out;
}
.hover-line.nav-others a.active {
  display: block;
  content: "";
  border-bottom: solid 2px #000;
  transition: 0.5s ease-in-out;
}
/* Start basket*/

.basket_frame {
  position: relative;
  padding: 10px 4px 0 4px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 16px;
}

.basket_frame .all_check_box {
  padding: 0 6px;
  width: 100%;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #f1f1f2;
  border-width: 1px 0;
  border-style: solid;
  border-color: #129cb8;
  font-size: 20px;
}

.basket_frame .basket_info_box {
  position: relative;
  margin-top: 6px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.basket_info_box .product_image {
  width: 60px;
  height: 60px;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
  margin: 5px;
}

.basket_info_box .product_name {
  margin-left: 11px;
  width: 150px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #000;
}

.basket_info_box .product_price {
  width: 80px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ae0000;
  margin-right: 5px;
}

.basket_frame .cancel_btn {
  position: absolute;
  top: 33%;
  right: 5%;
  cursor: pointer;
}
.basket_frame .remove {
  width: 25px;
  height: 20px;
  border: none;
  background-color: #f1f1f2;
  border-radius: 9px;
  cursor: pointer;
  margin: 5px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}
.basket_frame .to_order_box {
  margin-top: 10px;
  width: 100%;
  height: 64px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.to_order_box .price_text {
  margin-left: 27px;
  margin-right: 10px;
  width: 200px;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

.basket_frame .orders_wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.basket_frame .orders_main_wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 260px;
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
