.navbar_page {
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 9999;
  background: #129cb8;
}
.active_scroll {
  transition: all 0.7s;
  background: #129cb8;
}
.navbar_page .navbar_home {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.navbar_page .navbar_home .nav_text_animation {
  font-size: 15px;
  display: inline-block;
  color: #f4f4f4;
}

.navbar_page .nav_search_container {
  max-width: 100%;
  height: 120px;
  margin-bottom: 20px;
  background-color: #eef5ff;
}
.up_icon {
  width: 39px;
  height: 39px;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  fill: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  background: #129cb8;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .navbar_page .navbar_home {
    height: 80px;
  }

  .navbar_page .nav_search_container {
    display: none;
    width: 700px;
    height: auto;
    margin: 10px 0px;
  }
}
.navbar_page .nav_search_container .nav_form_search_wrapper {
  width: 1320px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar_page
  .nav_search_container
  .nav_form_search_wrapper
  .nav_form_logo_wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}
.navbar_page
  .nav_search_container
  .nav_form_search_wrapper
  .nav_form_logo_wrapper
  .nav_form_img {
  width: 69px;
  height: 69px;
  margin: 0px 20px;
  border-radius: 10px;
}
.navbar_page
  .nav_search_container
  .nav_form_search_wrapper
  .nav_form_logo_wrapper
  .nav_form_title {
  font-family: monospace;
  font-weight: bold;
  font-size: 25px;
}
.navbar_page .nav_search_container .nav_form_wrapper {
  width: 530px;
  height: 45px;
  display: flex;
  align-items: center;
  background: none;
  border: 1px solid #129cb8;
  border-radius: 9px;
  color: #fff;
}

.navbar_page .nav_search_container .nav_form_wrapper .nav_form_input {
  width: 100%;
  height: 100%;
  margin: 5px;
  background: none;
  border: none;
  outline: none;
}
.navbar_page .nav_search_container .nav_form_wrapper .nav_form_search {
  width: auto;
  height: 100%;
  background: #129cb8;
  border-radius: 0 9px 9px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar_page
  .nav_search_container
  .nav_form_wrapper
  .nav_form_search
  .nav_form_search_icon {
  width: 100%;
  height: 99%;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}

.navbar_page .nav_icons_wrapper {
  width: 150px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar_page .nav_icons_wrapper .nav_favorite_icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: #000;
}

.nav_shop_wrapper {
  width: 100%;
  height: 100px;
  background: #129cb8;
  display: flex;
  align-items: center;
}

.nav_other_wrapper {
  width: 100%;
  height: 100px;
  background: #eef5ff;
  display: flex;
  align-items: center;
}

.nav_other_nav_title {
  border: "none";
  text-align: "center";
  font-size: "16px";
  transition: "3s ease-out";
  text-decoration: none;
  color: #000;
}
.nav_link {
  text-decoration: none;
}
.nav-title {
  border: "none";
  text-align: "center";
  font-size: "16px";
  transition: "3s ease-out";

  color: #fff;
}

.nav-title:hover {
  color: rgb(227, 191, 145);
  opacity: 1;
  border-bottom: 2px solid bisque;
  text-shadow: #eee;
}

.nav_other_nav_title:hover {
  color: #129cb8;
  border-bottom: 2px solid #000;
  text-shadow: #129cb8;
}

.nav-icon {
  width: "29px";
  height: "29px";
  cursor: "pointer";
}

.nav-icon:hover:focus {
  color: #129cb8;
  fill: #129cb8;
  opacity: 1;
}

.hover-line a.active {
  display: block;
  content: "";
  border-bottom: solid 2px #fff;
  transition: 0.5s ease-in-out;
}
.hover-line.nav-others a.active {
  display: block;
  content: "";
  border-bottom: solid 2px #000;
  transition: 0.5s ease-in-out;
}
/* Start basket*/

.basket_frame {
  position: relative;
  padding: 10px 4px 0 4px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 16px;
}

.basket_frame .all_check_box {
  padding: 0 6px;
  width: 100%;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #129cb8;
  border-width: 1px 0;
  border-style: solid;
  border-radius: 9px;
  border-color: #129cb8;
  font-size: 20px;
}

.basket_frame .basket_info_box {
  position: relative;
  margin-top: 6px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.basket_info_box .product_image {
  width: 49px;
  height: 49px;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
  object-fit: cover;
  margin: 2px;
}

.basket_info_box .product_name {
  margin-left: 5px;
  width: 170px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 20px;
  color: #000;
}

.basket_info_box .product_price {
  width: 80px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 20px;
  color: #ae0000;
  margin-right: 5px;
}

.basket_frame .cancel_btn {
  position: absolute;
  top: 33%;
  right: 5%;
  cursor: pointer;
}
.basket_frame .remove {
  width: 20px;
  height: 20px;
  border: none;
  background-color: #129cb8;
  border-radius: 9px;
  cursor: pointer;
  margin: 5px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}
.basket_frame .cancel {
  width: 13px;
  height: 20px;
  cursor: pointer;
  margin-right: 3%;
}
.basket_frame .to_order_box {
  margin-top: 10px;
  width: 100%;
  height: 64px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.to_order_box .price_text {
  margin-left: 27px;
  margin-right: 10px;
  width: 200px;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #000;
}

.basket_frame .orders_wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.basket_frame .orders_main_wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 260px;
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

/* Start mobile version*/

.mobile_nav {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mobile_nav .mobile_nav_wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;

  flex-direction: row;
}

.mobile_nav .mobile_nav_wrapper .mobile_nav_log_wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
  height: auto;
}

.mobile_nav .mobile_nav_wrapper .mobile_nav_log_wrapper img {
  width: 49px;
  height: 49px;
  border-radius: 9px;
  margin-right: 10px;
}

.mobile_nav .mobile_nav_wrapper .mobile_nav_log_wrapper h4 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 25px;
}

.mobile_nav .mobile_nav_wrapper .mobile_nav_menu_icon {
  width: 49px;
  height: 49px;
  border-radius: 9px;
  cursor: pointer;
}

.mobile_nav .mobile_nav_link {
  position: absolute;
  top: "60px";
  right: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.mobile_nav .mobile_nav_title {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
}

.mobile_nav .nav_mobile_arrow_up {
  width: 15px;
  height: 15px;
  margin-bottom: 20px;
}
