.home-page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.home-page .top_search_container {
  max-width: 100%;
  height: 120px;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-page .up_icon {
  width: 39px;
  height: 39px;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  fill: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  background: #129cb8;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .home-page .top_search_container {
    display: none;
    width: 700px;
    height: auto;
    margin: 10px 0px;
  }
}
.home-page .top_search_container .top_form_search_wrapper {
  width: 1320px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.home-page
  .top_search_container
  .top_form_search_wrapper
  .top_form_logo_wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}
.home-page
  .top_search_container
  .top_form_search_wrapper
  .top_form_logo_wrapper
  .top_form_img {
  width: 69px;
  height: 69px;
  margin: 0px 20px;
  border-radius: 10px;
}
.home-page
  .top_search_container
  .top_form_search_wrapper
  .top_form_logo_wrapper
  .top_form_title {
  font-family: monospace;
  font-weight: bold;
  font-size: 25px;
}
.home-page .top_search_container .top_form_wrapper {
  width: 530px;
  height: 45px;
  display: flex;
  align-items: center;
  background: none;
  border: 1px solid #129cb8;
  border-radius: 9px;
  color: #fff;
}

.home-page .top_search_container .top_form_wrapper .top_form_input {
  width: 100%;
  height: 100%;
  margin: 5px;
  background: none;
  border: none;
  outline: none;
}
.home-page .top_search_container .top_form_wrapper .top_form_search {
  width: auto;
  height: 100%;
  background: #129cb8;
  border-radius: 0 9px 9px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-page
  .top_search_container
  .top_form_wrapper
  .top_form_search
  .top_form_search_icon {
  width: 100%;
  height: 99%;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}

.home-page .top_search_container .top_icons_wrapper {
  width: 150px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-page .top_search_container .top_icons_wrapper .top_favorite_icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: #000;
  margin-left: 30px;
}

.home-page .swiper {
  width: 100%;
  height: 100%;
}

.home-page .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-page .autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.home-page .autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
/******************* Best_Selling **********************/
.home-page .best_selling_container {
  max-width: 100%;
  height: auto;
  background-color: #f1f1f2;
  padding: 30px 0px;
}

.home-page .best_selling_wrapper {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 19px;
  cursor: pointer;
}

.home-page .best_selling_wrapper .best_selling_category {
  font-weight: bold;
  color: #000;
  margin: 10px;
  font-size: 20px;
}

.home-page .best_product_container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.home-page .best_product_container .home_card {
  position: relative;
  width: 300px;
  height: auto;
  margin: 10px;
  border-radius: 19px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.home-page .best_product_container .home_card:hover {
  transform: translateY(-12px);
  box-shadow: 8px 12px 24px #bbbbbb;
}

.product_discount_wrapper {
  width: 30%;
  height: 40px;
  position: absolute;
  top: 40px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page .best_product_container .home_card .card_image {
  height: 250px;
  padding-top: 15px;
  box-shadow: rever-layer;
  object-fit: cover;
}

/* .home-page .best_product_container .card_image:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
} */

.home-page .best_product_container .product_name {
  margin-bottom: 10px;
  font-weight: bold;
  width: 90%;
  height: 30px;
}

.home-page .best_product_container .product_price_wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.home-page .best_product_container .product_price_wrapper .product_left {
  font-size: 14px;
}

.home-page .best_product_container .product_price_wrapper .product_price {
  font-size: 18px;
  font-weight: bold;
}

.home-page .best_product_container .icon_container {
  width: 22px;
  height: 25px;
  cursor: pointer;
}
/*****************************************/

/******************* Shipping info **********************/

.home-page .shipping_info_wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

.home .home-page .homeSlide h1 {
  font-size: 45px;
  line-height: 55px;
  margin: 50px 0 20px 0;
}
.home-page .homeSlide p {
  margin: 20px 0;
}
.home-page .homeSlide ul {
  position: absolute;
  bottom: 20px;
}
.home-page .homeSlide ul li {
  border: 2px solid #b8b7b7;
  border-radius: 50%;
  padding: 10px;
}
.home-page .homeSlide ul li button {
  background: transparent !important;
  color: transparent !important;
}
.home-page .homeSlide ul li button::before {
  font-size: 15px !important;
  color: #0f3460;
  position: absolute;
  top: 2px;
  left: 0;
  margin: auto;
}

.home-page .shipping_info_wrapper .shipping_info_img {
  width: 48px;
  height: 48px;
  margin-bottom: 24px;
}

.home-page .shippin_info_title {
  font-weight: bold;
  font-size: 20px;
}

.home-page .shippin_info_desc {
  font-size: 18px;
}

/********** Hot deal***************/
.home-page .home_event_wrapper {
  width: 100%;
  height: 500px;
}

.home-page .event-info {
  position: absolute;
  width: 40%;
  height: 400px;
  right: 25px;
  bottom: 20px;
  background: #f1f1f2;
  box-shadow: rgba(250, 000, 250, 0.25);
  border-radius: 9px;
}

/*********** Follow Instagram **************/

.home-page .follow_instagram_wrapper {
  display: flex;
  width: 100%;
  height: 240px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}
.home-page .follow_instagram_wrapper .follow_instagram_link {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #000;
  cursor: pointer;
  margin-right: 10px;
}

.home-page .follow_instagram_link .follow_instagram_title {
  font-size: 15px;
}

.home-page .follow_instagram_link .insta_icon {
  color: red;
  margin-right: 5px;
  cursor: pointer;
  width: 29px;
  height: 29px;
}

.home-page .insta_images {
  height: 150px;
  object-fit: contain;
}

/***********************************************/

.productList {
  display: flex;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  max-height: 490px;
}

.productCard {
  position: relative;
  /* background-color: var(--color-grey-primary); */
  margin: 1rem;
  flex: 1 0 15rem;
  width: 300px;
  height: 490px;
  transition: 0.2s;
  border-radius: 19px;
  opacity: 0.9;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.productCard:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
  opacity: 1;
}

.productImage {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* .productImage:hover {
  object-fit: inherit;

  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
} */

.icon-container {
  opacity: 1;
  cursor: pointer;
  transition: 0.2s;
}
.icon-container:hover {
  color: red;
  transition: 0.7s ease-in-out;
}
.productCard__cart {
  position: absolute;
  right: 0;
  margin: 1rem;
  font-size: 2rem;
  transition: 0.2s;
  cursor: pointer;
}

.productCard__wishlist {
  position: absolute;
  right: 0rem;
  bottom: 20px;
  margin: 1rem;
  font-size: 2rem;
  transition: 0.2s;
  cursor: pointer;
}

.productCard__fastSelling {
  position: absolute;
  font-size: 4rem;
  left: 0;
  margin: 1rem;
  fill: var(--color-orange-primary);
}

.productCard__content {
  margin: 1rem;
}

.productName {
  font-size: 1.5rem;
  width: 100%;
  height: 50px;
}

.displayStack__1,
.displayStack__2 {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productPrice {
  font-size: 1.5rem;
  font-weight: bold;
}

.productSales,
.productTime {
  font-size: 1.5rem;
}

@media (max-width: 450px) {
  .home-page .best_selling_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 19px;
    cursor: pointer;
  }
  .home-page .best_selling_wrapper .best_selling_category {
    font-weight: bold;
    color: #000;
    margin: 5px;
    font-size: 10px;
    cursor: pointer;
  }
  .home-page .best_product_container .home_card {
    position: relative;
    width: 130px;
    height: 220px;
    border-radius: 19px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }

  .home-page .best_product_container .home_card:hover {
    transform: translateY(-12px);
    box-shadow: 8px 12px 24px #bbbbbb;
    opacity: 1;
  }
  .product_discount_wrapper {
    width: 50%;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product_discount_wrapper h2 {
    font-weight: bold;
    color: #000;
    font-size: 10px;
    cursor: pointer;
  }
  .home-page .best_product_container .home_card .card_image {
    height: 100px;
    padding-top: 15px;
    object-fit: cover;
  }

  .home-page .best_product_container .card_image:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .home-page .best_product_container .product_name {
    margin-bottom: 3px;
    font-weight: bold;
    width: 100%;
    font-size: 10px;
  }

  .home-page .best_product_container .product_price_wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .home-page .best_product_container .product_price_wrapper .product_left {
    color: red;
    font-size: 8px;
  }

  .home-page .best_product_container .product_price_wrapper .product_price {
    font-size: 8px;
  }

  .home-page .best_product_container .product_count {
    font-size: 8px;
  }

  .home-page .best_product_container .icon_container {
    width: 12px;
    height: 12px;
    cursor: pointer;
  }

  .home-page .shipping_info_wrapper .shipping_info_img {
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
  }

  .home-page .shippin_info_title {
    font-weight: bold;
    font-size: 8px;
    margin: 5px;
  }

  .home-page .shippin_info_desc {
    font-size: 8px;
    margin: 5px;
  }

  .home-page .follow_instagram_wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
  }
  .home-page .follow_instagram_wrapper .follow_instagram_link {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #000;
    cursor: pointer;
  }

  .home-page .follow_instagram_link .follow_instagram_title {
    font-size: 8px;
  }

  .home-page .follow_instagram_link .insta_icon {
    color: red;
    margin-right: 2px;
    cursor: pointer;
    width: 15px;
    height: 15px;
  }

  .home-page .insta_images {
    width: 28%;

    object-fit: contain;
    margin-right: 2px;
  }
  .productList {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    width: 150px;
    max-height: 200px;
  }
  .productCard {
    position: relative;
    /* background-color: var(--color-grey-primary); */
    margin: 1rem;
    flex: 0.5 0 7.5rem;
    width: 150px;
    height: 180px;
    transition: 0.2s;
    opacity: 0.9;
    border-radius: 9px;
    box-shadow: rgba(136, 165, 191, 0.48) 3px 1.5px 8px 0px,
      rgba(255, 255, 255, 0.8) -3px -1px 8px 0px;
  }

  .productCard:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0.25rem 0.375rem 7.5rem #bbbbbb;
    opacity: 1;
  }

  .productImage {
    width: 100%;
    height: 60px;
    object-fit: cover;
    margin-top: 10px;
  }

  .productImage:hover {
    object-fit: inherit;
    transition: 0.7s ease-in-out;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 80px;
  }
  .icon-container {
    opacity: 1;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  .icon-container:hover {
    color: red;
    transition: 0.7s ease-in-out;
  }
  .productCard__cart {
    position: absolute;
    right: 5;
    margin: 0.2rem;
    font-size: 0.5rem;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .productCard__wishlist {
    position: absolute;
    right: 0rem;
    bottom: 0px;
    margin: 0.2rem;
    font-size: 0.5rem;
    transition: 0.2s;
    cursor: pointer;
  }

  .productCard__fastSelling {
    position: absolute;
    font-size: 1rem;
    left: 0;
    margin: 0.2rem;
    fill: var(--color-orange-primary);
  }

  .productCard__content {
    margin: 0.25rem;
  }

  .productName {
    font-size: 0.6rem;
    width: 100%;
    height: 15px;
  }
  .product_discount {
    font-size: 0.5rem;
    font-weight: bold;
  }

  .displayStack__1,
  .displayStack__2 {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .productSales,
  .productTime {
    font-size: 0.4rem;
  }
}
